*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 1500ms ease-in-out;
}

#root {
    width: 550px;
    padding: 40px 50px;
    border-radius: 4px;
    background-color: white;
}

@media (max-width: 450px) {
  #root {
    width: 95%;
    padding: 25px 30px;
  }
}